<div class="why-us">
    <div class="why-us__subtitle fs-1 lh-1p5 fw-500 text-subtitle-color text-center md-black md-fs-1p728 md-lh-2 md-mb-p75">Why Us</div>
    <h2 class="m-0 fs-1p728 fw-700 lh-2 text-center mb-2p625 md-fs-2p488 md-lh-2.5 md-mb-4p75">We offer you the best</h2>

    <div class="why-us__reasons d-flex flex-row flex-wrap md-justify-content-space-around">
        <div class="why-us__reasons--reason d-flex flex-column align-items-center mb-3p5 no-flex-shrink fb-100 md-mb-28 md-mb-11">
            <div class="why-us__reasons--reason__icon primary-background border-circle d-flex align-items-center justify-content-center mb-1p625 md-mb-1p6875">
                <i class="icon-cloud-drizzle fs-2p25 md-fs-4"></i>
            </div>
            <div class="why-us__reasons--reason__heading fs-1p2 fw-500 lh-1p5 mb-0p562 md-fs-1p728 text-center md-lh-2 md-mb-p875">Chemical Free Produce</div>
            <div class="why-us__reasons--reason__subtitle fw-500 fs-1 lh-1p5 text-subtitle-color text-center md-fs-1p2 md-lh-2">Produces that are
                purely grown and harvested with no-chemical and toxins and thus make them chemical-free vegetables
            </div>
        </div>

        <div class="why-us__reasons--reason d-flex flex-column align-items-center mb-3p5 no-flex-shrink fb-100 md-mb-28 md-mb-11">
            <div class="why-us__reasons--reason__icon primary-background border-circle d-flex align-items-center justify-content-center mb-1p625 md-mb-1p6875">
                <i class="icon-check-in-circle fs-2p25 md-fs-4"></i>
            </div>
            <div class="why-us__reasons--reason__heading fs-1p2 fw-500 lh-1p5 mb-0p562 md-fs-1p728 text-center md-lh-2 md-mb-p875">Quality Service</div>
            <div class="why-us__reasons--reason__subtitle fw-500 fs-1 lh-1p5 text-subtitle-color text-center md-fs-1p2 md-lh-2">Service at doorstep for each customer. Before dispatch our quality assurance always cross-check orders
            </div>
        </div>

        <div class="why-us__reasons--reason d-flex flex-column align-items-center mb-3p5 no-flex-shrink fb-100 md-mb-28 md-mb-11">
            <div class="why-us__reasons--reason__icon primary-background border-circle d-flex align-items-center justify-content-center mb-1p625 md-mb-1p6875">
                <i class="icon-cloud-drizzle fs-2p25 md-fs-4"></i>
            </div>
            <div class="why-us__reasons--reason__heading fs-1p2 fw-500 lh-1p5 mb-0p562 md-fs-1p728 text-center md-lh-2 md-mb-p875">Weekend Gateways</div>
            <div class="why-us__reasons--reason__subtitle fw-500 fs-1 lh-1p5 text-subtitle-color text-center md-fs-1p2 md-lh-2">Farm visits for families, friends & professionals to know the farming techniques followed by bon-fire and kids engaging safe activities
            </div>
        </div>

    </div>

</div>
