.d-block {
  display: block;
}

.d-none {
  display: none;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.w-80 {
  width: 80%;
}

@include on-md-to-xl() {

  .md-w-60 {
    width: 60%;
  }

  .col-md-4 {
    width: 25%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-8 {
    width: 66%;
  }

  .d-md-block {
    display: block;
  }

  .d-md-none {
    display: none;
  }

}


