.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.left-0 {
  left: 0;
}

.position-v-center {
  top: 50%;
  transform: translateY(-50%);
}

.bottom-10 {
  bottom: 10%;
}

.left-50 {
  left: 50%;
}

.translateX--50 {
  transform: translateX(-50%);
}

.top-0p125 {
  top: 0.125rem;
}