/**
 * Primary Background color.
 * Uses as background for icons.
 */
$primary-icon-background-color: #D9E3D0;

/**
 * Color used for icons.
 */
$icon-text-color: #547836;

/**
 * Color used for subtitles mostly.
 */
$heading-subtitle-color: #7C7C7C;

/**
 * Primary Color Heading.
 */
$primary-heading-color: #709453;

/**
 * Primary Action Button color.
 */
$primary-action-button-color: #BB2E1E;